# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore common editor or IDE files
*.idea/
*.vscode/
*.DS_Store
Thumbs.db

# Ignore virtual environments
venv/
env/

# Ignore version control files
.git/
.gitignore

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore temporary files
*.log
*.tmp
*.swp
*.zip
*.tar.gz    